/* INICIO CSS */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }
 
 
 body {
     
     display:flex;
     flex-direction:column;
     height: 100vh;

 }
 
 /* TOPO  */
 
 .redes {
     font-size: 40px;
     
     margin-right: 100px;
 }
 
 .redes ul {
     display: flex;
     list-style-type: none;
     gap: 15px;
     
 }

.redes li a {
    color: #817979;
}

.redes li a:hover {
    color: #E19C9C;
    transition: 0.5s;
}

header {
    display: flex;
}

.logo {
    width: 390px;
    height: 210px;
}

.logo img {
    width: 444px;
    height: 400px;
    padding-left: 50px;
}




header h1 {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 24px;
    color: #E19C9C;
    font-weight: lighter;
    padding-top: 140px;
    margin: auto;

}

header h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
    }

}

header img {
    width: 55px;
    height: 55px;
    padding-top: 32px;
    margin-right: 20px;


}

/* MENU  */

nav {
    
    display: flex;
    padding-left: 360px;
    padding-top: 70px;

}

.menu {


    font-family: 'Lexend';
    font-size: 20px;
    color: #FDF8F8;
    display: flex;
    list-style: none;
    padding-left: 70px;
}

.menu li {

    padding-left: 125px;

}

.menu a {

    background-color: #E19C9C;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    color: #FDF8F8;
    text-decoration: none;
}

.menu a:hover {

    background-color: #ffff;
    border: 2px solid #E19C9C;
    border-radius: 50px;
    color: #E19C9C;
    transition: 0.5s;

}

/* CONTEÚDO */

main {
    
    max-width: 1200px;
    padding-top: 10px;
    text-align: center;
}

#conteudo, #conteudo2  {
  
       flex: 1 0 auto;
        width: 80%;
        display: flex;
        text-align: center;
        padding-left: 10em;
      
    
    }
    

#conteudo div, #conteudo2 div{
    
        padding-left: 8em;   
    
}

#conteudo2 div {
    padding-top: 50px; 
    padding-bottom: 50px;     

}

#conteudo img:hover{
    transform:scale(1.30,1.30);
    transition: 0.4s;
}

#conteudo2 img:hover {

    transform:scale(1.30,1.30);
    transition: 0.4s;
}


h3 {
    color: #817979;
        font-size: 20px;
        font-family: 'Lexend', sans-serif;
        font-weight: lighter;
        text-decoration: underline 8px #E19C9C;
        font-weight: bold;
        padding-left: 89px;
        text-align: left;
    
    }

    button {
        border: none;
        background-color: #E19C9C;
        font-family: 'Lexend',sans-serif;
        color: #FDF8F8;
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        cursor:pointer; 
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 15px;
        
    }

    button:hover {
        border: 2px solid #E19C9C;
        background-color: #FDF8F8;
        color: #E19C9C;
        transition: 0.4s;
        font-weight: bold;
        transform:scale(1.30,1.30);
        transition: 0.6s;
        
    }

/* RODAPÉ  */

footer {
    
    flex-shrink: 0;
    background-color: #E19C9C;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    /* position:absolute; */
    bottom: 0;
    background-color: rgba(225, 156, 156, 0.6);
    
}

footer li {

    list-style: none;
    display: inline-block;
    font-family: 'Lexend', sans-serif;
    font-weight: lighter;
    color: #817979;
    font-size: 14px;
}

footer li:hover {

    color: white;


}


footer p {


    font-family: 'Lexend', sans-serif;
    font-weight: lighter;
    color: #817979;
    font-size: 14px;


}

/* RESPONSIVO  */

@media (max-width: 768px) {
     
    .logo img {
        display: none;
    }

    header {
        display: block;
    }

    header h1 {
        
        display:none;
    
    }

    .menu {
        padding-left: 5%;
        padding-top: 0px;
    }
    
    .menu li {
     
        padding-left: 15px;
        font-size: 16px;
    
    }

    nav {
        padding-left: 0px;
    }
    
    .menu a {
    
        
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .box {
        display: none;
    }

#conteudo, #conteudo2 {

    
    display: block;
    margin: 0;
    padding:0;
    
}

#conteudo div, #conteudo2 div{
    
    padding-left: 4em;   

}

#conteudo button , #conteudo2 button{
    
    display:none; 

}



.redes {
    display: none;
}


}

@media (max-width: 320px) {

    .menu {
        padding-left: 0%;
        display: flex;
        margin: auto;
        padding-top: 0px;
        
    }
    
    .menu li {
     
        padding-left: 5px;
        font-size: 12px;
        padding: 15px 0px 0px 0px;
        
    
    }

 
    
    .menu a {
    
        
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    .logo {
        width: 55vh;
        height: 150px;
        padding: 0;
    }
    
    .logo img {
        width: 60vh;
        padding-left: 0px;
    }

    #conteudo {
        display: block;
        position:relative;
        width: auto;
    }

    footer {
        position: relative;
        align-items: center;
    }

    .redes {
        display: none;
    }

    #conteudo div, #conteudo2 div{
    
        padding-left: 0em;   
    
    }
    
    #conteudo button , #conteudo2 button{
        
        display:none; 
    
    }

}
