/* INICIO CSS */

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}


body {
    
    display:flex;
    flex-direction:column;
    height: 100vh;

}

/* TOPO  */

.redes {
    font-size: 40px;
    
    margin-right: 100px;
}

.redes ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    
}

.redes li a {
    color: #817979;
}

.redes li a:hover {
    color: #E19C9C;
    transition: 0.5s;
}

header {
    display: flex;
}

.logo {
    width: 390px;
    height: 210px;
}

.logo img {
    width: 444px;
    height: 400px;
    padding-left: 50px;
}




header h1 {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 24px;
    color: #E19C9C;
    font-weight: lighter;
    padding-top: 140px;
    margin: auto;

}

header h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
    }

}

header img {
    width: 55px;
    height: 55px;
    padding-top: 32px;
    margin-right: 20px;


}

/* MENU  */


nav {
    
    display: flex;
    padding-left: 360px;
    padding-top: 70px;

}

.menu {


    font-family: 'Lexend';
    font-size: 20px;
    color: #FDF8F8;
    display: flex;
    list-style: none;
    padding-left: 90px;
}

.menu li {
 
    
    padding-left: 12.5%;

}

.menu a {

    background-color: #E19C9C;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    color: #FDF8F8;
    text-decoration: none;
}

.menu a:hover {

    background-color: #ffff;
    border: 2px solid #E19C9C;
    border-radius: 50px;
    color: #E19C9C;
    transition: 0.5s;

}

/* CONTEÚDO */



#conteudo {


    flex: 1;
    width: 80%;
    padding:150px 20px 0 0 ;
    display: flex;
    text-align: center;
    margin: auto;
    
    /* min-height: calc(100vh - 100px); */
  
  

}

#conteudo div {
    padding-left: 15%;


}

#conteudo div img:hover{
    transform:scale(1.30,1.30);
    transition: 0.4s;
}



#conteudo h3 {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #E19C9C;
}

#conteudo p {
    font-family: 'Lexend', sans-serif;
    color: #817979;
    font-size: 15px;
    font-weight: lighter;


}

/* RODAPÉ  */

footer {
    
    flex-shrink: 0;
    background-color: #E19C9C;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 80px;
    position:fixed;
    bottom: 0;
    background-color: rgba(225, 156, 156, 0.6);
    
}

footer li {
  
    list-style: none;
    display: inline-block;
    font-family: 'Lexend', sans-serif;
    font-weight: lighter;
    color: #817979;
    font-size: 14px;
}

footer li:hover {
    
    color: white;


}


footer p {

   
    font-family: 'Lexend', sans-serif;
    font-weight: lighter;
    color: #817979;
    font-size: 14px;


}

/* RESPONSIVO  */

@media (max-width: 768px) {
     
    .logo img {
        padding-top: 0;
    }

    header {
        display: block;
    }

    header h1 {
        
        display:none;
    
    }

    .menu {
        padding-left: 5%;
    }
    
    .menu li {
     
        padding-left: 15px;
        font-size: 16px;
    
    }

    nav {
        padding-left: 0px;
    }
    
    .menu a {
    
        
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    
    
}

#conteudo {

    
    /* width: 100%; */
    margin: 0;
    padding:100px 0 0 0;
    
}

#conteudo div {
    
    /* padding-left: 5%; */
    
    

}

.redes {
    display: none;
}




@media (max-width: 320px) {

    .menu {
        padding-left: 0%;
        display: flex;
        margin: auto;
        padding-top: 20px;
        
    }
    
    .menu li {
     
        padding-left: 5px;
        font-size: 12px;
        padding: 15px 0px 0px 0px;
        
    
    }

 
    
    .menu a {
    
        
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    .logo {
        width: 55vh;
        height: 150px;
        padding: 0;
    }
    
    .logo img {
        width: 60vh;
        padding-left: 0px;
    }

    #conteudo {
        display: block;
        position:relative;
        width: auto;
    }

    footer {
        position: relative;
        align-items: center;
    }

    .redes {
        display: none;
    }

}




/* @media screen and (max-width: 1690px) {

    .logo {
        width: 390px;
        height: 210px;
    }
    

      
 .logo img {
    width: 444px;
        height: 400px;
        display: flex; 
    padding-left: 0;
}

    header h1 {
        
        font-size: 28px;
        padding-top: 100px;
      
    }

    .redes {
        display: flex;
    }

    nav {
        
        padding-left: 0;
        padding-top: 70px;  
    
    }

    .menu {

        font-size: 15px;
        padding-left: 400px;
    }
    
    .menu li {
    
        padding-left: 90px;
    
    }
    
    .menu a {
    
       
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        
    }
    

    #conteudo {
        width: 80%;
        padding-top: 190px;
        
    }
    
    #conteudo div {
        padding-left: 240px;
    
    
    }

     footer {
        
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    position:absolute;
    bottom: 0; 

     } 

}

@media screen and (max-width: 1490px) {

    .logo {
        width: 390px;
        height: 210px;
    }
    

      
 .logo img {
    width: 444px;
        height: 400px;
        display: flex; 
    padding-left: 0;
}

    header h1 {
        
        font-size: 20px;
        padding-top: 100px;
      
    }

    .redes {
        display: flex;
    }

    nav {
        
        padding-left: 0;
        padding-top: 70px;  
    
    }

    .menu {

        font-size: 15px;
        padding-left: 350px;
    }
    
    .menu li {
    
        padding-left: 70px;
    
    }
    
    .menu a {
    
       
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 15px;
        
    }
    

    #conteudo {
        width: 80%;
        padding-top: 190px;
        padding-left: 150px;
        
    }
    
    #conteudo div {
        padding-left: 90px;
    
    
    }

     footer {
        
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    position:absolute;
    bottom: 0; 

     } }

     @media screen and (max-width: 1690px) {

        .logo {
            width: 390px;
            height: 210px;
        }
        
    
          
     .logo img {
        width: 444px;
            height: 400px;
            display: flex; 
        padding-left: 0;
    }
    
        header h1 {
            
            font-size: 28px;
            padding-top: 100px;
          
        }
    
        .redes {
            display: flex;
        }
    
        nav {
            
            padding-left: 0;
            padding-top: 70px;  
        
        }
    
        .menu {
    
            font-size: 15px;
            padding-left: 400px;
        }
        
        .menu li {
        
            padding-left: 90px;
        
        }
        
        .menu a {
        
           
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 15px;
            
        }
        
    
        #conteudo {
            width: 80%;
            padding-top: 190px;
            
        }
        
        #conteudo div {
            padding-left: 240px;
        
        
        }
    
         footer {
            
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;
        padding-top: 20px;
        display: flex;
        align-items: left;
        justify-content: space-around;
        width: 100%;
        height: 100px;
        position:absolute;
        bottom: 0; 
    
         } 
    
    }
    
    @media screen and (max-width: 1490px) {
    
        .logo {
            width: 390px;
            height: 210px;
        }
        
    
          
     .logo img {
        width: 444px;
            height: 400px;
            display: flex; 
        padding-left: 0;
    }
    
        header h1 {
            
            font-size: 20px;
            padding-top: 100px;
          
        }
    
        .redes {
            display: flex;
        }
    
        nav {
            
            padding-left: 0;
            padding-top: 70px;  
        
        }
    
        .menu {
    
            font-size: 15px;
            padding-left: 200px;
        }
        
        .menu li {
        
            padding-left: 50px;
        
        }
        
        .menu a {
        
           
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 15px;
            
        }
        
    
        #conteudo {
            width: 80%;
            padding-top: 190px;
            padding-left: 150px;
            
        }
        
        #conteudo div {
            padding-left: 90px;
        
        
        }
    
         footer {
            
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;
        padding-top: 20px;
        display: flex;
        align-items: left;
        justify-content: space-around;
        width: 100%;
        height: 100px;
        position:absolute;
        bottom: 0; 
    
         } }

         @media screen and (max-width: 1690px) {

            .logo {
                width: 390px;
                height: 210px;
            }
            
        
              
         .logo img {
            width: 444px;
                height: 400px;
                display: flex; 
            padding-left: 0;
        }
        
            header h1 {
                
                font-size: 28px;
                padding-top: 100px;
              
            }
        
            .redes {
                display: flex;
            }
        
            nav {
                
                padding-left: 0;
                padding-top: 70px;  
            
            }
        
            .menu {
        
                font-size: 15px;
                padding-left: 400px;
            }
            
            .menu li {
            
                padding-left: 90px;
            
            }
            
            .menu a {
            
               
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 15px;
                
            }
            
        
            #conteudo {
                width: 80%;
                padding-top: 190px;
                
            }
            
            #conteudo div {
                padding-left: 240px;
            
            
            }
        
             footer {
                
            flex-shrink: 0;
            box-sizing: border-box;
            overflow: hidden;
            padding-top: 20px;
            display: flex;
            align-items: left;
            justify-content: space-around;
            width: 100%;
            height: 100px;
            position:absolute;
            bottom: 0; 
        
             } 
        
        }
        
        @media screen and (max-width: 1322px) {
        
            .logo {
                width: 390px;
                height: 210px;
            }
            
        
              
         .logo img {
            width: 444px;
                height: 400px;
                display: flex; 
            padding-left: 0;
        }
        
            header h1 {
                
                font-size: 20px;
                padding-top: 100px;
              
            }
        
            .redes {
                display: flex;
            }
        
            nav {
                
                padding-left: 0;
                padding-top: 70px;  
            
            }
        
            .menu {
        
                font-size: 15px;
                padding-left: 350px;
            }
            
            .menu li {
            
                padding-left: 70px;
            
            }
            
            .menu a {
            
               
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 15px;
                
            }
            
        
            #conteudo {
                width: 80%;
                padding-top: 190px;
                padding-left: 150px;
                
            }
            
            #conteudo div {
                padding-left: 90px;
            
            
            }
        
             footer {
                
            flex-shrink: 0;
            box-sizing: border-box;
            overflow: hidden;
            padding-top: 20px;
            display: flex;
            align-items: left;
            justify-content: space-around;
            width: 100%;
            height: 100px;
            position:absolute;
            bottom: 0; 
        
             } }

             @media screen and (max-width: 1134px) {
        
                header {
                    display: block;
                }
                .logo {
                    width: 390px;
                    height: 210px;
                }

                
            
                  
             .logo img {
                width: 444px;
                    height: 400px;
                padding-left: 20em;
            }
            
                header h1 {
                    
                    font-size: 20px;
                    padding-top: 100px;
                    padding-left: 10em;
                  
                }
            
                .redes {
                    display: flex;
                }
            
                nav {
                    
                    padding-left: 0;
                    padding-top: 20px;  
                
                }
            
                .menu {
            
                    font-size: 15px;
                    padding-left: 7em;
                }
                
                .menu li {
                
                    padding-left: 70px;
                
                }
                
                .menu a {
                
                   
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 15px;
                    
                }
                
            
                #conteudo {
                    width: 80%;
                    padding-top: 120px;
                    padding-left: 5em;
                    
                }
                
                #conteudo div {
                    padding-left: 90px;
                
                
                }
            
                 footer {
                    
                flex-shrink: 0;
                box-sizing: border-box;
                overflow: hidden;
                padding-top: 20px;
                display: flex;
                align-items: left;
                justify-content: space-around;
                width: 100%;
                height: 100px;
                position:absolute;
                bottom: 0; 
            
                 } }

@media screen and (max-width: 1090px) {

    .logo {
        width: 390px;
        height: 210px;
    }
    

      
 .logo img {
    width: 333px;
        height: 300px;
        display: flex; 
    padding-left: 0;
}

    header h1 {
        
        font-size: 20px;
        padding-top: 100px;
      
    }

    .redes {
        display: flex;
    }

    nav {
        
        padding-left: 0;
        padding-top: 70px;  
    
    }

    .menu {

        font-size: 15px;
        padding-left: 180px;
    }
    
    .menu li {
    
        padding-left: 70px;
    
    }
    
    .menu a {
    
       
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        
    }
    

    #conteudo {
        width: 80%;
        padding-top: 190px;
        
    }
    
    #conteudo div {
        padding-left: 100px;
    
    
    }

     footer {
        
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    position:absolute;
    bottom: 0; 

     } }

    
     @media screen and (max-width: 375px){ 

        header {
        
            display: none;
        }
        
        .logo img {
           
            padding-left: 150px;
            
        }

        
    
        .redes {
            display: none;
        }
    
        nav {
            
            padding-left: 0;
            padding-top: 90px;
        
        }
        
        .menu {
        
            font-size: 15px;
            color: #FDF8F8;
            padding-left: 60px;
        }
        
        .menu li {
        
            padding: 8px;
        
        }
    
    
        #conteudo {
            
            padding-top: 0px;
            display: flex;
            flex-direction: column;
           
            
        }
        
        #conteudo div {
            padding-left: 25px;
        
        
        }

         
    } 

     @media screen and (max-width: 950px){

       header {
        
            display: inline;
        }
        
        .logo img {
           
            padding-left: 250px;
            
        }

        
        header h1 {
            display: flex;  
            font-size: 18px;
        }
    
        .redes {
            display: none;
        }
    
        nav {
            
            padding-left: 100px;
            padding-top: 50px;
        
        }
        
        .menu {
        
            font-size: 15px;
            padding-left: 10px;
        }
        
        .menu li {
        
            padding-left: 40px;
        
        }
        
        .menu a {
    
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
            
            
        }
    
        #conteudo {
            width: 80%;
            padding-top: 150px;
            display: flex;
           
            
        }
        
        #conteudo div {
            padding-left: 75px;
        
        
        }
    
        footer {
            padding: 0;
            margin: 0;
            padding-top: 20px;
            display: flex;
            width: 100%;
            height: 100px;
            position:fixed;
           
            
        }
}
    
@media screen and (max-width: 900px) {

    header {
        
        display: inline;
    }
    
    .logo img {
       
        padding-left: 220px;
        
    }

   

    header h1 {
        display: none;
    }

    .redes {
        display: none;
    }

    nav {
        
        padding-left: 70px;
        padding-top: 90px;
    
    }
    
    .menu {
    
        font-size: 15px;
        padding-left: 10px;
    }
    
    .menu li {
    
        padding-left: 40px;
    
    }
    
    .menu a {

        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        
        
    }

    #conteudo {
        width: 80%;
        padding-top: 220px;
        display: flex;
       
        
    }

    #conteudo img {
        width: 100px;
        
    }

    #conteudo h3 {
        font-size: 15px;
    }

    #conteudo p {
        font-size: 13px;
    }
    
    #conteudo div {
        padding-left: 70px;
    
    
    }

    footer {
        padding: 0;
        margin: 0;
        padding-top: 20px;
        display: flex;
        width: 100%;
        height: 100px;
        position:fixed;
       
        
    }

}

@media screen and (max-width: 800px) {

    header {
        
        display: inline;
    }
    
    .logo img {
       
        padding-left: 170px;
        
    }

   
    header h1 {
        display: none;
    }

    .redes {
        display: none;
    }

    nav {
        
        padding-left: 20px;
        padding-top: 90px;
    
    }
    
    .menu {
    
        font-size: 15px;
        padding-left: 10px;
    }
    
    .menu li {
    
        padding-left: 40px;
    
    }
    
    .menu a {

        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        
        
    }

    #conteudo {
        width: 80%;
        padding-top: 220px;
        display: flex;
       
        
    }

    #conteudo img {
        width: 100px;
        
    }

    #conteudo h3 {
        font-size: 13px;
    }

    #conteudo p {
        font-size: 12px;
    }
    
    #conteudo div {
        padding-left: 40px;
        margin-left: 20px;
    
    
    }

    footer {
        padding: 0;
        margin: 0;
        padding-top: 20px;
        display: flex;
        width: 100%;
        height: 100px;
        position:fixed;
       
        
    }

    @media screen and (max-width: 700px) {

        header {
        
            display: inline;
        }
        
        .logo img {
           
            padding-left: 170px;
            
        }

        
    
        header h1 {
            display: none;
        }
    
        .redes {
            display: none;
        }
    
        nav {
            
            padding-left: 20px;
            padding-top: 90px;
        
        }
        
        .menu {
        
            font-size: 12px;
            padding-left: 40px;
        }
        
        .menu li {
        
            padding-left: 25px;
        
        }
        
        .menu a {
    
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
            
            
        }
    
        #conteudo {
            width: 100%;
            padding-top: 220px;
            display: flex;
            flex-direction: column;
           
            
        }
    
        #conteudo img {
            width: 150px;
           
            
            
        }
    
        #conteudo h3 {
            font-size: 20px;
            
        }
    
        #conteudo p {
            
            font-size: 20px;
                }
        
        #conteudo div {
            padding-left: 0px;
            margin-left: 20px;
        
        
        }
    
        footer {
            padding: 0;
            margin: 0;
            padding-top: 20px;
            display: flex;
            width: 100vh;
            height: 100px;
          justify-content: left;
           position: relative;
        }
          
            footer p {
                padding-left: 50px;
            }
        

        }

}

@media screen and (max-width: 550px) {

    header {
        
        display: inline;
    }
    
    .logo img {
       
        padding-left: 50px;
        
    }

    

    header h1 {
        display: none;
    }

    .redes {
        display: none;
    }

    nav {
        
        padding-left: 0px;
        padding-top: 90px;
    
    }
    
    .menu {
    
        font-size: 12px;
        padding-left: 0px;
    }
    
    .menu li {
    
        padding-left: 20px;
    
    }
    
    .menu a {

        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        
        
    }

    #conteudo {
        width: 100%;
        padding-top: 220px;
        display: flex;
        flex-direction: column;
       
        
    }

    #conteudo img {
        width: 150px;
       
        
        
    }

    #conteudo h3 {
        font-size: 20px;
        
    }

    #conteudo p {
        
        font-size: 20px;
            }
    
    #conteudo div {
        padding-left: 0px;
        margin-left: 20px;
    
    
    }

    footer {
        padding: 0;
        margin: 0;
        padding-top: 20px;
        display: flex;
        width: 100vh;
        height: 100px;
      justify-content: left;
       position: relative;
    }
      
        footer p {
            padding-left: 50px;
        }
} */



